body {
  background: #ffffff;
  color: #222222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 87.5%;
  line-height: 1.5;
}

@media (min-width: 48em) {
  body {
    font-size: 100%;
  }
}

a {
  color: #176691;
  text-decoration: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

a:active,
a:hover,
a:focus {
  color: #0d384f;
}

/* Assistive */
.visuallyhidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  margin: 0;
  height: auto;
  width: auto;
  clip: auto;
  overflow: visible;
}

/* Layout */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  max-width: 91.25%;
}

.container--med {
  width: 48em;
}

/* Site Header & Content */
.site-header {
  position: relative;
  height: 25em;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .7);
  background: #666666 url('../images/polling-station.jpg') no-repeat 0 50%;
  background-size: cover;
}

.site-header::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-color: rgba(34, 34, 34, .7);
}

.site-header__branding {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
}

.site-header__tagline {
  font-style: italic;
}

.site-header,
.results {
  text-align: center;
}

dt,
dd {
  display: inline-block;
}

dd,
dt:nth-of-type(2n) {
  margin-left: .25em;
}

@media (min-width: 22.5em) {
  dd {
    margin-left: .625em;
  }

  dt:nth-of-type(2n) {
    margin-left: 2em;
  }
}

main {
  position: relative;
  top: -6em;
  margin-bottom: 3em;
}

/* Comparison Form */
.compare-form {
  margin-bottom: 3em;
  padding: 1em 1em 3em;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, .7);
}

legend {
  margin-bottom: 1em;
  font-size: 1.25em;
}

fieldset {
  margin: 0;
  padding: 0;
}

.select-inputs {
  margin-bottom: 2em;
  border: 0;
}

.select {
  position: relative;
  width: 100%;
}

.select input {
  position:absolute;
  left:-9999px;
}

.toggle + label {
  display: block;
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 1em 2em 1em 1em;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  background: #ffffff;
  color: #176691;
  font-weight: bold;
  text-transform: uppercase;
}

.toggle-label::before {
  position: absolute;
  top: 45%;
  right: .875em;
  content: "\2303";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  font-size: 1.25em;
  line-height: 0;
}

.select-list {
  position: absolute;
  overflow: hidden;
  max-height: 0px;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.select li:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}

.toggle:checked ~ ul {
  max-height: 60em;
  z-index: 100;
}

.select-label {
  display: block;
  padding: 1em;
  background-color: #f6f6f6;
  color: #222222;
  font-weight: bold;
  text-transform: uppercase;
}

.select-label:hover,
.select-label:focus {
  background-color: #f2f2f2;
}

.error {
  display: none;
}

/* Footer Resources */
.site-footer {
  margin-bottom: 3em;
  text-align: center;
}

.resources {
  margin: 0;
  padding: 3em 0 0;
  border-top: 1px solid #e6e6e6;
  list-style: none;
  font-weight: 700;
}

.resources__item > a {
  display: block;
  padding: 0.875em;
  letter-spacing: 0.0469em;
}

@media (min-width: 38.125em) {
  .resources {
    padding: 0;
  }

  .resources__item {
    display: inline-block;
  }

  .resources__item > a {
    padding: 2em 0.875em;
  }
}

.current {
  font-size: 87.5%;
}

/** -------------------

Accessible Modal Dialog
https://github.com/scottaohara/accessible_modal_window

----------------------- */
.modal-is-open,
.modal-is-open body {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%; }

.js .a11y-modal {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background: rgba(0, 0, 0, 0.666);
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: auto;
  padding: 1.5em;
  position: fixed;
  top: 0;
  transition: opacity .2s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: -1; }
.js .a11y-modal[aria-hidden="false"] {
  opacity: 1;
  visibility: visible;
  z-index: 99; }
.js .a11y-modal[aria-hidden="false"] .modal {
  transform: scale(1) translateY(0px); }

.modal {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin: 20px auto;
  max-height: 90%;
  max-width: 800px;
  min-width: 220px;
  overflow: auto;
  overflow-x: hidden;
  padding: 32px;
  position: relative;
  transition: transform .3s ease-in-out;
  width: 100%; }
.modal--sm {
  max-width: 400px; }
.modal--full-width {
  max-width: 100%; }
.modal--take-over {
  height: 100%;
  max-height: 100%;
  max-width: 100%; }
.modal--content-scroll {
  overflow: hidden; }
.modal--content-scroll .modal__content {
  border: 1px solid #ccc;
  height: 300px;
  overflow: auto;
  transition: height .2s ease-in-out; }
@media screen and (min-height: 41.25em) {
  .modal--content-scroll .modal__content {
    height: 400px; } }
@media screen and (min-height: 47.9375em) {
  .modal--content-scroll .modal__content {
    height: 500px; } }
@media screen and (min-height: 53.75em) {
  .modal--content-scroll .modal__content {
    height: 600px; } }
@media screen and (min-height: 64em) {
  .modal--content-scroll .modal__content {
    height: 700px; } }
.modal__intro__title {
  font-size: 32px;
  margin-top: 0; }
.modal__intro > :not(.modal__intro__title) {
  font-size: 0.825em; }
.modal__content {
  margin-top: 20px; }
.modal__outro {
  margin-top: 20px; }
.modal__outro__close {
  background: transparent;
  display: block;
  height: 32px;
  position: absolute;
  right: 8px;
  text-decoration: none;
  top: 8px;
  width: 32px; }
.modal__outro__close svg {
  bottom: 0;
  fill: #000;
  height: 70%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 70%; }
.modal__outro__close:hover, .modal__outro__close:focus {
  background: rgba(0, 0, 0, 0.9); }
.modal__outro__close:hover svg, .modal__outro__close:focus svg {
  fill: #fff; }

.js .modal {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 0 12px rgba(0, 0, 0, 0.5);
  margin: auto;
  transform: scale(0.8) translateY(-30px); }

.no-js .no-js-hide,
.no-js button[data-action='modal-open'],
.no-js .modal__outro__close {
  display: none; }

.no-js .no-js-hide:target {
  display: block; }

/* Custom Modal Styling */
.modal__list,
.modal__list--sub-list {
  padding-left: 0;
}

.modal__list--sub-list {
  margin-left: 1.25em;
}
